<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my_tower.my_tower">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".startPage.splashScreen"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".startPage.login"
            android:supportsRtl="true"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".home.adminHome"
            android:label="@string/title_activity_admin_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adminHomeActivity.addPayment"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".adminActivity.show_User_details"
            android:supportsRtl="true" />
        <activity
            android:name=".adminHomeActivity.admin_users"
            android:label="@string/title_activity_admin_users"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".adminHomeActivity.admin_service" />
        <activity android:name=".serviceDetails" />
        <activity
            android:name=".adminHomeActivity.admin_groups"
            android:label="@string/title_activity_admin_users" />
        <activity
            android:name=".home.userHome"
            android:label="@string/title_activity_user_home"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>